/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.sidr.light
 *= require jquery.mCustomScrollbar
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html, body{
  font-family: 'Raleway', sans-serif;
  background:#32425c;
  height:100%;
}
div#main{
  position:relative;
  height:100%;
}

div.all-items-container{

  position:absolute;
  left:70px;
  top:0;
  bottom:0;
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-right:0;
  overflow-x:hidden;
  overflow-y:scroll;
  padding-left:0;
}

div.items-wrapper{
  width:100%;
  height:100%;
  position:relative;
}

div.items-wrapper div.items{
  min-height:500px;
  display:inline-block;
  position:absolute;
  left:20%;
  right:20%;
}

div#mini-sidebar-menu{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:70px;
  background:#333;
  transition: all 0.5s ease;
}



div#mini-sidebar-menu div.mini-sidebar-wrapper{
  position:relative;
  width:100%;
  height:100%;
}


div.mini-sidebar-block{
  position:relative;
  height:70px;
  width:70px;
}

div.mini-sidebar-block img{
  cursor:pointer;
  position:absolute;
  top:20px;
  left:20%;
  right:20%;
  width:60%;
  height:60%;
  color:#fff;
}

div.list-item{
  padding-left:8px;
  position:relative;
  cursor:pointer;
  height:40px;
  width:100%;
}

div.list-item:hover{
  background:#ABB7B7;
}

div.list-item span.list-title{
  position:absolute;
  width:60%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  left:0;
}

div.list-item span.date-from-now{
  font-size:0.7em;
  padding-left:0px;
  padding-right:4px;
  position:absolute;
  right:0;
}

input.lists-search.form-control{
  height:100%;
  font-size:23px;
  margin-bottom:0px;
}

h1.sidebar-header{
  font-size:33px;
  margin-bottom: 30px;
  margin:0;
}

div#sidebar{
  overflow-y:hidden;
  background:#333;
}

ul.lists{
  margin-bottom:5px;
  min-height:300px;
  max-height:400px;
  overflow-y: scroll;
}
div#sidebar{
  color:black;
  font-family:"Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
}

div#sidebar.sidr.left ul.lists li div.list-item span{
  color:#fff;
}

div#sidebar.sidr.left ul.lists li div.list-item span:first-child{
  font-size:1.2em;
}

input.lists-search.form-control{
  left:26px;
  margin-top:20px;
  margin-bottom:20px;
  width:80%;
}
