/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.sidr.light
 *= require jquery.mCustomScrollbar
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html, body{
  font-family: 'Raleway', sans-serif;
  background:#32425c;
  overflow:auto;
  overflow-x:hidden;
  height:100%;
}
div#main{
  position:relative;
  height:100%;
}

div.all-items-container{

  position:absolute;
  left:70px;
  top:0;
  bottom:0;
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-right:0;
  overflow-x:hidden;
  overflow-y:scroll;
  padding-left:0;
}

div.items-wrapper{
  width:100%;
  height:100%;
  position:relative;
}

div.items-wrapper div.items{
  min-height:500px;
  display:inline-block;
  position:absolute;
  left:20%;
  right:20%;
}

div#mini-sidebar-menu{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:70px;
  background:#333;
  transition: all 0.5s ease;
}



div#mini-sidebar-menu div.mini-sidebar-wrapper{
  position:relative;
  width:100%;
  height:100%;
}


div.mini-sidebar-block{
  position:relative;
  height:70px;
  width:70px;
}

div.mini-sidebar-block img{
  cursor:pointer;
  position:absolute;
  top:20px;
  left:20%;
  right:20%;
  width:60%;
  height:60%;
  color:#fff;
}

div.list-item{
  padding-left:8px;
  position:relative;
  cursor:pointer;
  height:40px;
  width:100%;
}

div.list-item:hover{
  background:#ABB7B7;
}

div.list-item span.list-title{
  position:absolute;
  width:60%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  left:0;
}

div.list-item span.date-from-now{
  font-size:0.7em;
  padding-left:0px;
  padding-right:4px;
  position:absolute;
  right:0;
}

input.lists-search.form-control{
  height:100%;
  font-size:23px;
  margin-bottom:0px;
}

h1.sidebar-header{
  font-size:33px;
  margin-bottom: 30px;
  margin:0;
  text-align:center;
}

div#sidebar{
  overflow-y:hidden;
  background:#333;
}

ul.lists{
  margin-bottom:5px;
  min-height:100px;
  height:50%;
  overflow-y: scroll;
}
div#sidebar{
  color:black;
  font-family:"Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
}

div#sidebar.sidr.left ul.lists li div.list-item span{
  color:#fff;
}

div#sidebar.sidr.left ul.lists li div.list-item span:last-child{
  margin-right:3px;
}

div#sidebar.sidr.left ul.lists li div.list-item span:first-child{
  font-size:1.2em;
}

input.lists-search.form-control{
  left:26px;
  margin-top:20px;
  margin-bottom:20px;
  width:80%;
}

div.new-list{
  text-align:center;
}

button.create-list.btn{
  margin-top:13px;
  width:70px;
  position:relative;
  height:70px;
  border-radius:50%;
  display:inline;
}

button.create-list.btn:focus{
  outline:none;
}

//scrollbar
::-webkit-scrollbar {
  border-radius:4px;
  width: 13px;
  height: 13px; }

::-webkit-scrollbar:hover {
    height: 18px; }

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 15px;
  width: 13px;
  display: block;
  background: #101211;
  background-repeat: no-repeat; }


::-webkit-scrollbar-button:vertical:decrement {
  background:#fff;
  border-radius:50%;
  background-position: 3px 4px; }

::-webkit-scrollbar-button:vertical:increment {
  background: #fff;
  border-radius:50%;
  background-position: 3px 4px; }

::-webkit-scrollbar-track-piece {
  background-color: #151716; }

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4d4d4d), color-stop(100%, #333333));
  border: 1px solid #0d0d0d;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666; }

div.title-holder{
  position:relative;
  display:block;
  background:#fff;
  width:80%;
  margin-left:10%;
  margin-top:30px;
  height:0px;
  transition:all 0.2s ease;
}

div.title-holder input.list-title{
  color:black;
  height:100%;
}

input.list-title.closed{
  display:none;
}

div.title-holder:after, div.title-holder:before {
  display:none;
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

div.title-holder:after {
  display:none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #000;
  border-width: 3px;
  margin-left: -3px;
}
div.title-holder:before {
  display:none;
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
input.item-quant{
  width:40px;
}

div.all-items{
  width:250px;
  position:relative;
  overflow:hidden;
}

div.single-item:first-child{
  margin-top:10px;
}

div.single-item-wrapper{
  position:relative;
  background:#2ecc71;
  margin-bottom:5px;
  border-radius:5px;
  width:200px;
  height:40px;
  transition: height 1s ease;
}

div.single-item{
  transition: all 1s ease;
}

div.single-item button.remove-item{
  position:absolute;
  width:30px;
  height:30px;
  right:5px;
  top:5px
}

div.single-item button.remove-item div{
  position:relative;
  height:100%;
  width:100%;
}

div.single-item button.remove-item div i{
  position:absolute;
  left:-7px;
  bottom:-7px;
}

div.container.all-items-container{
  color:#fff;
}

div.all-items, div.new-item{
  color:black;
}

div.all-items{
  margin-top:20px;
}

div.items div h1{
  display:inline;
}

div.items-wrapper{
  margin-top:50px;
}

div.single-item-wrapper.long-item{
  height:150px;
}

div.single-item-wrapper div.item-info{
  font-size:1.5em;
  position:absolute;
  left:5px;
  top:7px;
  color:#000;
}

p.item-info-name-long{
  display:block;
}

p.hidden-item.item-info-name-long{
  display:none;
}

div.single-item-wrapper div.item-info span.item-info-name{
  display:inline-block;
  width: 95px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

div.single-item-wrapper div.item-info span.item-info-quantity{
  display:inline-block;
  vertical-align:top;
  white-space:nowrap;
}

button.delete-list{
  margin-top:-30px;
  background:#fff;
  color: #000;
}

div.items h1.list-show-title{
  margin:0px;
  width:250px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
}
