<h1>All Items</h1>
<div class="all-items"></div>
<div class="new-item"></div>
<div class="phone-number-seciton">
  <input class="phone-number" type="text">
  <button class="send-text btn btn-primary" disabled>Send Text</button>
</div>
