<div class="list-item" data-id="<%= list.id %>">
  <span class="list-title"><%= list.get("title") %></span>
  <% var date = moment(new Date(list.get("created_at"))) %>
  <span class="date-from-now"><%= date.fromNow() %></span>
</div>
