<h1 class="list-show-title">List: <%= this.model.get("title") %></h1>
<span><button class="btn delete-list" data-list-id="<%= this.model.id %>"><i class="fa fa-trash"></i></button></span>
<div class="all-items"></div>
<div class="new-item"></div>
<div class="phone-number-seciton">
  <input class="phone-number" type="text">
  <button class="send-text btn btn-primary" disabled>Send Text</button>
</div>
