<div id="lists">
  <h1>All Lists</h1>
  <div class="lists">
  </div>
  <div class="new-list">
  </div>
</div>
<div class="container all-items-container">
  <div class="items-wrapper col-xs-5">
    <div class="items">
    </div>
  </div>
</div>
