<div id="mini-sidebar-menu">
  <div class="mini-sidebar-wrapper">
    <div class="mini-sidebar-block">
      <img src="/assets/plus.png" id="plus-open">
    </div>
  </div>
</div>
<div class="container all-items-container">
  <div class="items-wrapper col-xs-5">
    <div class="items">
    </div>
  </div>
</div>
