<div class="single-item-wrapper">
  <div class="item-info">
    <%= item.get("name") %> x <%= item.get("quantity") %>
  </div>
  <button class="remove-item btn btn-default" data-list-id=<%= item.get("list_id") %>><div><i class="fa fa-times fa-2x"></div></i></button>
</div>
