<div class="single-item-wrapper">
  <%= item.get("name") %>
  <%= item.get("quantity") %>
  <button class="remove-item btn btn-default" data-list-id=<%= item.get("list_id") %>><div><i class="fa fa-times fa-2x"></div></i></button>
</div>
